.effect-button{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.effect-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.effect-button:hover:before, .effect-button:focus:before, .effect-button:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.btn{
  
    padding:13px 16px;
    border: medium none;
    text-transform: uppercase;
    font-size: 18px;
    line-height:26px;
    text-decoration: none;
    color: #FFF;
    border-radius:0px;
    display: inline-block;
    cursor: pointer;
    text-transform:uppercase;
    font-weight:500;
}
.btn:hover, .btn:focus, .btn:active {
  color: white;
}

.btn-blue{
    background:$color-green;
}
.btn-blue:before{
  background:$color-huge;
}
.btn-blue:active,.btn-blue:focus{
    background:$color-green;
}
.btn-blue:hover{
   background:$color-green;
}
//
.btn-green{
    background:$color-huge;
}
.btn-green:before{
  background:$color-green;
}
.btn-green:active,.btn-green:focus{
   background:$color-huge;
}
.btn-green:hover{
   background:$color-huge;
}
//
.btn-cart{border: 1px solid #575D6D;}
.btn-cart{
    background:$color-green;
    color:$color-p;
}
.btn-cart:before{
  background:#fff;
}
.btn-cart:active,.btn-cart:focus,.btn-cart:hover{
    background:$color-green;
    border-color: $color-green;
    color:#fff;
}

