@charset "utf-8";
/* CSS Document */

.index_contain{ min-width:100px; position:relative; z-index:100;height:52px;}
.index_select_item{ margin-right:30px; font-size:26px; color:#fff; text-decoration:none; display:block; line-height:28px; padding:12px 0 0 21px;font-family: 'Open Sans', sans-serif;height:28px;overflow:hidden;}
.button_select{ position:absolute; top:50%; margin-top:-4px; right:6px; display:block; width:17px; height:16px; z-index:1000;}
.select_list{ min-width:100px; display:none; position:relative; z-index:1000; margin-right:0px;width:}
.select_list ul{ margin:0px; padding:0px; position:absolute; top:0; left:0; background:#f2f2f2;max-height:200px;border:1px solid #afafaf;overflow:auto;width:238px;}
.select_list ul li{line-height:19px; padding-bottom:5px; list-style-type:none;color:#666; font-size:19px; padding-left:10px; padding-top:5px; cursor:pointer; font-family:Arial, Helvetica, sans-serif;#float:none;width:227px;}
.select_list ul li a{}
.select_list ul li:hover,.select_list ul li.active{ background:#6caedf; color:#fff;}
.select_bg_top{ position:absolute; top:0px; left:0px; z-index:1000;  width:5px; height:24px;}
.select_bg_bottom{ position:absolute; bottom:0px; left:0px; z-index:1000;  width:123px; height:2px;}







