@import "compass/css3";
 
@font-face {

  font-family: 'MyriadPro-Bold';
  src: url('fonts/MyriadPro-Bold.otf'); 
  src: url('fonts/MyriadPro-Bold.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-Bold.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-BoldCond';
  src: url('fonts/MyriadPro-BoldCond.otf'); 
  src: url('fonts/MyriadPro-BoldCond.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-BoldCond.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-BoldCondIt';
  src: url('fonts/MyriadPro-BoldCondIt.otf'); 
  src: url('fonts/MyriadPro-BoldCondIt.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-BoldCondIt.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-BoldIt';
  src: url('fonts/MyriadPro-BoldIt.otf'); 
  src: url('fonts/MyriadPro-BoldIt.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-BoldIt.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-Cond';
  src: url('fonts/MyriadPro-Cond.otf'); 
  src: url('fonts/MyriadPro-Cond.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-Cond.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-CondIt';
  src: url('fonts/MyriadPro-CondIt.otf'); 
  src: url('fonts/MyriadPro-CondIt.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-CondIt.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-It';
  src: url('fonts/MyriadPro-It.otf'); 
  src: url('fonts/MyriadPro-It.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-It.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-Regular';
  src: url('fonts/MyriadPro-Regular.otf'); 
  src: url('fonts/MyriadPro-Regular.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-Regular.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-Semibold';
  src: url('fonts/MyriadPro-Semibold.otf'); 
  src: url('fonts/MyriadPro-Semibold.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-Semibold.otf') format('otf')

}

@font-face {

  font-family: 'MyriadPro-SemiboldIt';
  src: url('fonts/MyriadPro-SemiboldIt.otf'); 
  src: url('fonts/MyriadPro-SemiboldIt.otf?#iefix') format('embedded-opentype'),
       url('fonts/MyriadPro-SemiboldIt.otf') format('otf')

}


@font-face {

  font-family: 'glyphicons-halflings';
  src: url('fonts/glyphicons-halflings-regular.eot'); 
 

}

