
.skip-link {background:none;}
.search-autocomplete::before {border:none;}
.header-language-background {background:none;}
.header-language-background a {color: #fff}
.cloudzoom-lens:hover > div{display:none !important;}

