.block-color{
	.panel-body{
		//padding-left:0px;
		padding-right:0px;
	}
	li{
		float:left;
		margin:1px 0px;
		min-width:68px;
	}
	a{	
		span{
			display:block;
			width:42px;
			height:42px;
		}
	}
	
}