.block-price{

	.form-control{
		width:73px;
		height:29px;
		color:#000;
		border-radius:0px;
		border:0px;
		text-align:center;
	}
	#slider-range{
		margin-bottom:20px;
		border-radius:0px;
		height:4px;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
		background:$color-la;
		border:0px;
		border-radius:0px;
	}
	.ui-slider .ui-slider-handle{
		width:10px;
		height:12px;
	}
	.ui-slider-horizontal .ui-slider-handle {
	    margin-left:-2px;
	    top: -5px;
	}

	.ui-widget-header{
		background:none;
	}
	button{
		margin-top:15px;
		padding:10px 15px;
		font-size:12px;
	}
	label{
		font-weight:700;
	}

}

@media only screen and(max-width:990px){
	.block-price {
		.form-control{
			width:52px;
			padding:6px;
		}
	}
}

@media only screen and(max-width:900px){
	.block-price {
		.form-control{
			width:49px;
		}
	}
}

@media only screen and(max-width:820px){
	.block-price {
		.form-control{
			width:42px;
		}
	}
}