.customer-reviews{

	.fa{
		font-size:22px;
		color:$color-la;
		position:absolute;
		top:0px;
		left:15px;
	}

	.certified{

		background: transparent url("../images/Safety-site-sprites.png");
		display: block;
		font-size: 0;
		background-position: 0 -484px;
		height: 156px;
		width: 156px;
		margin:0 auto;

	}

	.div-content{

		text-align:left;
		padding-left:70px;
		a{
			color:$color-la;
			@include transition-y();
			&:hover{
				font-weight:700;
			}
		}

	}

	.box-text{
		padding-top:20px;
	}
}


@media screen and(max-width:1024px){

	.customer-reviews {
		.div-content{
		    padding-left: 50px;
		}
	}
	
}

@media screen and (max-width:990px){

	.customer-reviews{
		.box-ct{
			margin-bottom:20px;
		}
		.div-content{
		    padding-left: 70px;
		}
	}
}

@media screen and (max-width:767px){

	.customer-reviews {
		.div-content{
		    padding-left: 60px;
		}
	}
	
}

@media screen and (max-width:480px){

	.customer-reviews {
		.div-content{
		    padding-left: 50px;
		}
	}
	
}