.link-logo{

	padding-bottom:10px;
	margin-bottom:47px;
	#flexisel-link-logo{
		background:$color-white;
		padding:15px 0px;
		border-radius: 15px;
		box-shadow: 2px 2px 0px 0px #a9a9a9;
	}
	.owl-wrapper-outer{
		top: 10px;
	}
	
}