
@media (max-width:1600px){

	#owl-banner .owl-item img{
		width:100%;
	}
	.hearder-top .img-battplus {
    	left: -83px;
    }	
}

@media (min-width:1601px){
	.hearder-top .img-battplus {
    	left: -79px;
    }
}