$color-border-input:#fff;
$color-border-input-focus:#3baeda;

input,select{
	@include styleText(14px,20px,#999);
	font-family:$font-family-body;
	@include transition-y();
}
input[type='submit']{
	width:auto;
}
.form-control{
	border: 1px solid $color-border-input;
}
.form-control:focus{
	outline:none;
	box-shadow:none;
	border: 1px solid $color-border-input-focus;
}
select{
	line-height:24px;
	background: transparent;
}
textarea{
	resize:none;
	padding:0px;
	@include styleText(17px,22px,#999);	
}

.error{
	border: 1px solid #f00;
}

label{
	@include styleText(14px,22px,#fff);
	margin:0px;
	margin-left:0px;
	margin-bottom:10px;
}

.radio-inline{
	 padding-left: 10px;
	 margin-left:0px;
}

.text-order{
	padding-top:0px;
	font-size:17px;
	line-height:20px;
	font-weight:400;

}
.input-number{
	width:50px;
	padding:0px 10px;
}
.form-line.paragraphText{
	textarea{
		border:1px solid #999;
		padding:13px;
	}
}
.form-group.paragraphText{
	height:135px;
	margin-top:20px;
	margin-bottom:20px;
}

.form-group.no-bg-button{

	border: 0px solid #dddddd;
	background:none;
	padding:0px;

}
.form-list{
	em{
		color:#f00;
	}
}
.radio{
	margin-bottom:10px;
}
.bgradio{
	background: url("../images/bgradio.png") no-repeat top left;
	width:16px;height:16px;
	display:block;
	margin-top:10px;
	input{
		opacity:0;
		width:0px;
		height:0px;
	}
}

.activeradio{
	background: url("../images/bgradio-active.png") no-repeat top left;
}
.form-group.no-border{
	border:none !important;
	padding:0px !important;
	p{
		padding-bottom:0px;
		font-size:17px;
		line-height:37px;
		font-family: 'Cabin', sans-serif;
		font-weight:400;
		color: #b7b7b7;
	}
}

.col-form{
	width:80%
}

.iradio_flat{
	position: relative;
}
.search-only .search-icon {border:none;background:none;height:30px;cursor:pointer;}

@media only screen and(max-width:1025px){

	.group-radio.col-xs-3{
		width: 25%;
	}

}